*.o
*.a
*.so
*.so.*
*-test

Makefile
Makefile.*

src/gnuitar-sh/gnuitar-sh
src/gnuitar-qt/gnuitar-qt
src/gnuitar-qt/ui_*
src/gnuitar-qt/moc_*
src/gnuitar-qt/qrc_*
src/gnuitar-qt/Makefile
src/gnuitar-doc/*

build/*
src/build/*

